botocore==1.5.82
click==6.7
colorama==0.3.7
docutils==0.13.1
Flask==0.12.2
Flask-SQLAlchemy==2.2
futures==3.1.1
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
migrate==0.3.8
pyasn1==0.2.3
python-dateutil==2.6.1
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
SQLAlchemy==1.1.11
Werkzeug==0.12.2
